.floor {
  width: 100%;
  height: 100dvh;
  
  @media (width >= 960px) {
    min-height: 600px;
  }

  &__canvas {
    width: 100%;
    height: auto;
    overflow-y: hidden;
    
    @media (width >= 960px) {
      height: 100%;
      overflow: hidden;
    }

    &-visual {
      width: 100%;
      height: 100%;
      overflow: hidden;

      @media (width <= 960px) {
        width: 1500px;
        height: 844px;
        min-height: 100dvh;
      }
    }
  }
}

.path{
  position: relative;
}

.tooltip{
  position: absolute;
  padding: 2px 10px;
  border-radius: 20px;
  background: white;
}

input[type='file']::file-selector-button{
  background-color: #f9427c;
  color: #fff;
  border-radius: 4px;
  padding: 8px;
  margin-right: 16px;
  border: 0;
  cursor: pointer;
}